*{
    box-sizing: border-box;
   
}

body{
    margin:0;
}

.container {
    margin:1rem;
    text-align: center;
}

.nav {
    background-color: #333;
    color:white;
    display:flex;
    justify-content: space-between;
    align-items: stretch;
  
}

.site-title{
    font-size: 2rem;
    display: flex;
    align-items: center;
    gap: 5px;
}

.nav ul{
    padding:0;
    margin:0;
    list-style:none;
    display: flex;
    flex :align-center;
}

.nav a{
    color:inherit;
    text-decoration: none;
    height: 100%;
    display:flex;
    align-items: center;
    padding: .25rem;
    margin-right: 1rem;
}

.nav li.active {
    background-color: #555;
}

.nav li:hover {
    background-color: #6a6464;
    border-radius: 5px;
}

.about {
    font-size: 30px;
    text-align: left;
}

.about-title{
    font-size: 50px;
}

.about-icon{
    font-size:30px;
}